<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetcxl.xlpay.admin.dao.WalletCashMapper">

    <select id="listWalletCash" resultType="com.cetcxl.xlpay.admin.dao.WalletCashMapper$WalletCashDTO">
        SELECT
            wc.id AS wallet_id,
            wc.cash_balance,
            wc.`status`,
            t.*
        FROM
            wallet_cash wc,
            (
            SELECT
                cm.id AS company_member_id,
                cm.`name`,
                cm.ic_no,
                cm.department,
                cm.employee_no,
                cm.phone
            FROM
                company c,
                company_member cm
            WHERE
                c.id = #{companyId}
                AND cm.company = c.id
                <if test="department != null">
                    AND cm.department  like concat('%',#{department},'%')
                </if>
                <if test="name != null">
                    AND cm.`name` like concat('%',#{name},'%')
                </if>
            ) t
        WHERE
            wc.company_member = t.company_member_id
        ORDER BY
            wallet_id DESC
    </select>

</mapper>
